[submodule "bootloader"]
	path = taiga_bootloader
	url = https://github.com/IdoMessenberg/taiga_bootloader.git
[submodule "src/taiga_kernel"]
	path = src/taiga_kernel
	url = https://github.com/IdoMessenberg/taiga_kernel.git
